-# .row
-#   .col-xs-6
-#     .easy-pie-chart
-#       .number{ data: { percent: [budget_report.spend_as_percent_of_on_track_spend, 100].min } }
-#         %span #{budget_report.spend_as_percent_of_on_track_spend}%
-#       .title
-#         Of on-track spend
-#         %i.m-icon-swapright
-#   .col-xs-6
-#     .easy-pie-chart
-#       .number{ data: { percent: [budget_report.spend_as_percent_of_budget, 100].min } }
-#         %span #{budget_report.spend_as_percent_of_budget}%
-#       .title
-#         Of budget total
-#         %i.m-icon-swapright
