.container
  %h3 Reconcile transactions
  %table.table
    %thead
      %tr
        %th Date
        %th.hidden-xs Source
        %th Description
        %th Amount
    %tbody
      - unreconciled_transactions.each do |transaction|
        %tr
          %td= transaction.effective_date.strftime('%d/%m/%Y')
          %td.hidden-xs= transaction.source.name
          %td= link_to transaction.description, new_reconciliation_path(expense_id: transaction)
          %td= number_to_currency(transaction.amount.to_f / 100)
