.mt-element-step
  .row.step-line
    .col-md-4.mt-step-col.first{ class: ('done' if step == 1) }
      = link_to edit_budget_path(step: 1) do
        .mt-step-number.font-grey-cascade 1
        .mt-step-title.uppercase.font-grey-cascade Basics
        .mt-step-content.font-grey-cascade Income, pay days
    .col-md-4.mt-step-col{ class: ('done' if step == 2) }
      = link_to edit_budget_path(step: 2) do
        .mt-step-number.font-grey-cascade 2
        .mt-step-title.uppercase.font-grey-cascade Bank Accounts
        .mt-step-content.font-grey-cascade Integrate with NAB
    .col-md-4.mt-step-col.last{ class: ('done' if step == 3) }
      = link_to edit_budget_path(step: 3) do
        .mt-step-number.font-grey-cascade 3
        .mt-step-title.uppercase.font-grey-cascade Buckets
        .mt-step-content.font-grey-cascade Allocate your money
