body {
  background: #2f373e;
  font: 300 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.wrapper {
  margin: 10px;
}

.page-content {
  padding: 30px;
  min-height: 500px;
  margin-bottom: 15px;
  background: #fff;
}
