/***
Dashboard stats
***/
.dashboard-stat2.bordered {
  border: 1px solid #e7ecf1;
}

.dashboard-stat2 {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  padding: 15px 15px 30px;
}
.dashboard-stat2, .dashboard-stat2 .display {
  margin-bottom: 20px;
}

.dashboard-stat2 .display .number {
    float: left;
    display: inline-block;
}

.dashboard-stat2 .display .number h3 {
    margin: 0 0 2px;
    padding: 0;
    font-size: 30px;
    font-weight: 400;
}
.font-green-sharp {
    color: #2ab4c0!important;
}

.dashboard-stat2 .display .number small {
    font-size: 13px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .display .icon {
    display: inline-block;
    float: right;
}
.dashboard-stat2 .display .icon>i {
    color: #cbd4e0;
    font-size: 32px;
}
.dashboard-stat2 .progress-info {
    clear: both;
}

.dashboard-stat2 .progress-info .progress {
    margin: 0;
    height: 4px;
    clear: both;
    display: block;
}
.progress {
    border: 0;
    background-image: none;
    filter: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
}
.progress-bar.green-sharp {
    background: #2ab4c0!important;
    color: #FFF!important;
}
.dashboard-stat2 .progress-info .status {
    margin-top: 5px;
    font-size: 11px;
    color: #AAB5BC;
    font-weight: 600;
    text-transform: uppercase;
}
.dashboard-stat2 .progress-info .status .status-title {
    float: left;
    display: inline-block;
}
.dashboard-stat2 .progress-info .status .status-number {
    float: right;
    display: inline-block;
}
