%header.page-header
  %nav.navbar.mega-menu{:role => "navigation"}
    .container-fluid
      .clearfix.navbar-fixed-top
        / Brand and toggle get grouped for better mobile display
        %button.navbar-toggle{"data-target" => ".navbar-responsive-collapse", "data-toggle" => "collapse", :type => "button"}
          %span.sr-only Toggle navigation
          %span.toggle-icon
            %span.icon-bar
            %span.icon-bar
            %span.icon-bar
        / End Toggle Button
        / BEGIN LOGO
        %a#index.page-logo{:href => "index.html"}
          %img{:alt => "Logo", :src => "../assets/layouts/layout5/img/logo.png"}/
        / END LOGO
        / BEGIN SEARCH
        %form.search{:action => "extra_search.html", :method => "GET"}
          %input.form-control{:name => "query", :placeholder => "Search...", :type => "name"}/
          %a.btn.submit.md-skip{:href => "javascript:;"}
            %i.fa.fa-search
        / END SEARCH
        / BEGIN TOPBAR ACTIONS
        .topbar-actions
          / BEGIN GROUP NOTIFICATION
          #header_notification_bar.btn-group-notification.btn-group
            %button.btn.btn-sm.md-skip.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :type => "button"}
              %i.icon-bell
              %span.badge 7
            %ul.dropdown-menu-v2
              %li.external
                %h3
                  %span.bold 12 pending
                  notifications
                %a{:href => "#"} view all
              %li
                .slimScrollDiv{:style => "position: relative; overflow: hidden; width: auto; height: 250px;"}
                  %ul.dropdown-menu-list.scroller{"data-handle-color" => "#637283", "data-initialized" => "1", :style => "height: 250px; padding: 0px; overflow: hidden; width: auto;"}
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-success.md-skip
                            %i.fa.fa-plus
                          New user registered.
                        %span.time just now
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-danger.md-skip
                            %i.fa.fa-bolt
                          Server #12 overloaded.
                        %span.time 3 mins
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-warning.md-skip
                            %i.fa.fa-bell-o
                          Server #2 not responding.
                        %span.time 10 mins
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-info.md-skip
                            %i.fa.fa-bullhorn
                          Application error.
                        %span.time 14 hrs
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-danger.md-skip
                            %i.fa.fa-bolt
                          Database overloaded 68%.
                        %span.time 2 days
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-danger.md-skip
                            %i.fa.fa-bolt
                          A user IP blocked.
                        %span.time 3 days
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-warning.md-skip
                            %i.fa.fa-bell-o
                          Storage Server #4 not responding dfdfdfd.
                        %span.time 4 days
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-info.md-skip
                            %i.fa.fa-bullhorn
                          System Error.
                        %span.time 5 days
                    %li
                      %a{:href => "javascript:;"}
                        %span.details
                          %span.label.label-sm.label-icon.label-danger.md-skip
                            %i.fa.fa-bolt
                          Storage server failed.
                        %span.time 9 days
                  .slimScrollBar{:style => "background: rgb(99, 114, 131); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"}
                  .slimScrollRail{:style => "width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"}
          / END GROUP NOTIFICATION
          / BEGIN GROUP INFORMATION
          .btn-group-red.btn-group
            %button.btn.btn-sm.md-skip.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :type => "button"}
              %i.fa.fa-plus
            %ul.dropdown-menu-v2{:role => "menu"}
              %li.active
                %a{:href => "#"} New Post
              %li
                %a{:href => "#"} New Comment
              %li
                %a{:href => "#"} Share
              %li.divider
              %li
                %a{:href => "#"}
                  Comments
                  %span.badge.badge-success 4
              %li
                %a{:href => "#"}
                  Feedbacks
                  %span.badge.badge-danger 2
          / END GROUP INFORMATION
          / BEGIN USER PROFILE
          .btn-group-img.btn-group
            %button.btn.btn-sm.md-skip.dropdown-toggle{"data-close-others" => "true", "data-hover" => "dropdown", "data-toggle" => "dropdown", :type => "button"}
              %span Hi, Marcus
              %img{:alt => "", :src => "../assets/layouts/layout5/img/avatar1.jpg"}/
            %ul.dropdown-menu-v2{:role => "menu"}
              %li
                %a{:href => "page_user_profile_1.html"}
                  %i.icon-user
                  My Profile
                  %span.badge.badge-danger 1
              %li
                %a{:href => "app_calendar.html"}
                  %i.icon-calendar
                  My Calendar
              %li
                %a{:href => "app_inbox.html"}
                  %i.icon-envelope-open
                  My Inbox
                  %span.badge.badge-danger 3
              %li
                %a{:href => "app_todo_2.html"}
                  %i.icon-rocket
                  My Tasks
                  %span.badge.badge-success 7
              %li.divider
              %li
                %a{:href => "page_user_lock_1.html"}
                  %i.icon-lock
                  Lock Screen
              %li
                %a{:href => "page_user_login_1.html"}
                  %i.icon-key
                  Log Out
          / END USER PROFILE
          / BEGIN QUICK SIDEBAR TOGGLER
          %button.quick-sidebar-toggler.md-skip{"data-toggle" => "collapse", :type => "button"}
            %span.sr-only Toggle Quick Sidebar
            %i.icon-logout
          / END QUICK SIDEBAR TOGGLER
        / END TOPBAR ACTIONS
      / BEGIN HEADER MENU
      .nav-collapse.navbar-collapse.navbar-responsive-collapse.collapse{"aria-expanded" => "false", :style => "height: 0px;"}
        %ul.nav.navbar-nav
          %li.dropdown.dropdown-fw.dropdown-fw-disabled.active.selected
            %a.text-uppercase{:href => "javascript:;"}
              %i.icon-home
              Dashboard
            %ul.dropdown-menu.dropdown-menu-fw
              %li.active
                %a{:href => "index.html"}
                  %i.icon-bar-chart
                  Default
              %li
                %a{:href => "dashboard_2.html"}
                  %i.icon-bulb
                  Dashboard 2
              %li
                %a{:href => "dashboard_3.html"}
                  %i.icon-graph
                  Dashboard 3
          %li.dropdown.dropdown-fw.dropdown-fw-disabled
            %a.text-uppercase{:href => "javascript:;"}
              %i.icon-puzzle
              Features
            %ul.dropdown-menu.dropdown-menu-fw
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-diamond
                  UI Features
                %ul.dropdown-menu
                  %li
                    %a{:href => "ui_colors.html"} Color Library
                  %li
                    %a{:href => "ui_metronic_grid.html"} Metronic Grid System
                  %li
                    %a{:href => "ui_general.html"} General Components
                  %li
                    %a{:href => "ui_buttons.html"} Buttons
                  %li
                    %a{:href => "ui_buttons_spinner.html"} Spinner Buttons
                  %li
                    %a{:href => "ui_confirmations.html"} Popover Confirmations
                  %li
                    %a{:href => "ui_sweetalert.html"} Bootstrap Sweet Alerts
                  %li
                    %a{:href => "ui_icons.html"} Font Icons
                  %li
                    %a{:href => "ui_socicons.html"} Social Icons
                  %li
                    %a{:href => "ui_typography.html"} Typography
                  %li
                    %a{:href => "ui_tabs_accordions_navs.html"} Tabs, Accordions & Navs
                  %li
                    %a{:href => "ui_tree.html"} Tree View
                  %li
                    %a{:href => "ui_timeline.html"} Timeline 1
                  %li
                    %a{:href => "ui_timeline_2.html"} Timeline 2
                  %li
                    %a{:href => "ui_timeline_horizontal.html"} Horizontal Timeline
                  %li
                    %a{:href => "ui_page_progress_style_1.html"} Page Progress Bar - Flash
                  %li
                    %a{:href => "ui_page_progress_style_2.html"} Page Progress Bar - Big Counter
                  %li
                    %a{:href => "ui_blockui.html"} Block UI
                  %li
                    %a{:href => "ui_bootstrap_growl.html"} Bootstrap Growl Notifications
                  %li
                    %a{:href => "ui_notific8.html"} Notific8 Notifications
                  %li
                    %a{:href => "ui_toastr.html"} Toastr Notifications
                  %li
                    %a{:href => "ui_bootbox.html"} Bootbox Dialogs
                  %li
                    %a{:href => "ui_alerts_api.html"} Metronic Alerts API
                  %li
                    %a{:href => "ui_session_timeout.html"} Session Timeout
                  %li
                    %a{:href => "ui_idle_timeout.html"} User Idle Timeout
                  %li
                    %a{:href => "ui_modals.html"} Modals
                  %li
                    %a{:href => "ui_extended_modals.html"} Extended Modals
                  %li
                    %a{:href => "ui_tiles.html"} Tiles
                  %li
                    %a{:href => "ui_timeline.html"} Timeline
                  %li
                    %a{:href => "ui_datepaginator.html"} Date Paginator
                  %li
                    %a{:href => "ui_nestable.html"} Nestable List
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-puzzle
                  Components
                %ul.dropdown-menu
                  %li
                    %a{:href => "components_date_time_pickers.html"} Date & Time Pickers
                  %li
                    %a{:href => "components_color_pickers.html"} Color Pickers
                  %li
                    %a{:href => "components_select2.html"} Select2 Dropdowns
                  %li
                    %a{:href => "components_bootstrap_multiselect_dropdown.html"} Bootstrap Multiselect Dropdowns
                  %li
                    %a{:href => "components_bootstrap_select.html"} Bootstrap Select
                  %li
                    %a{:href => "components_multi_select.html"} Bootstrap Multiple Select
                  %li
                    %a{:href => "components_bootstrap_select_splitter.html"} Select Splitter
                  %li
                    %a{:href => "components_clipboard.html"} Clipboard
                  %li
                    %a{:href => "components_typeahead.html"} Typeahead Autocomplete
                  %li
                    %a{:href => "components_bootstrap_tagsinput.html"} Bootstrap Tagsinput
                  %li
                    %a{:href => "components_bootstrap_switch.html"} Bootstrap Switch
                  %li
                    %a{:href => "components_bootstrap_maxlength.html"} Bootstrap Maxlength
                  %li
                    %a{:href => "components_bootstrap_fileinput.html"} Bootstrap File Input
                  %li
                    %a{:href => "components_bootstrap_touchspin.html"} Bootstrap Touchspin
                  %li
                    %a{:href => "components_form_tools.html"} Form Widgets & Tools
                  %li
                    %a{:href => "components_context_menu.html"} Context Menu
                  %li
                    %a{:href => "components_editors.html"} Markdown & WYSIWYG Editors
                  %li
                    %a{:href => "components_code_editors.html"} Code Editors
                  %li
                    %a{:href => "components_ion_sliders.html"} Ion Range Sliders
                  %li
                    %a{:href => "components_noui_sliders.html"} NoUI Range Sliders
                  %li
                    %a{:href => "components_knob_dials.html"} Knob Circle Dials
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-settings
                  Form Stuff
                %ul.dropdown-menu
                  %li
                    %a{:href => "form_controls.html"}
                      Bootstrap Form
                      = succeed "Controls" do
                        %br/
                  %li
                    %a{:href => "form_controls_md.html"}
                      Material Design
                      = succeed "Form" do
                        %br/
                  %li
                    %a{:href => "form_validation.html"} Form Validation
                  %li
                    %a{:href => "form_validation_states_md.html"}
                      Material Design
                      = succeed "Form" do
                        %br/
                  %li
                    %a{:href => "form_validation_md.html"}
                      Material Design
                      = succeed "Form" do
                        %br/
                  %li
                    %a{:href => "form_layouts.html"} Form Layouts
                  %li
                    %a{:href => "form_repeater.html"} Form Repeater
                  %li
                    %a{:href => "form_input_mask.html"} Form Input Mask
                  %li
                    %a{:href => "form_editable.html"} Form X-editable
                  %li
                    %a{:href => "form_wizard.html"} Form Wizard
                  %li
                    %a{:href => "form_icheck.html"} iCheck Controls
                  %li
                    %a{:href => "form_image_crop.html"} Image Cropping
                  %li
                    %a{:href => "form_fileupload.html"} Multiple File Upload
                  %li
                    %a{:href => "form_dropzone.html"} Dropzone File Upload
              %li.dropdown.more-dropdown-sub
                %a{:href => "?p="}
                  %i.icon-wallet
                  Portlets
                %ul.dropdown-menu
                  %li
                    %a{:href => "portlet_boxed.html"} Boxed Portlets
                  %li
                    %a{:href => "portlet_light.html"} Light Portlets
                  %li
                    %a{:href => "portlet_solid.html"} Solid Portlets
                  %li
                    %a{:href => "portlet_ajax.html"} Ajax Portlets
                  %li
                    %a{:href => "portlet_draggable.html"} Draggable Portlets
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-bar-chart
                  Charts
                %ul.dropdown-menu
                  %li
                    %a{:href => "charts_amcharts.html"} amChart
                  %li
                    %a{:href => "charts_flotcharts.html"} Flot Charts
                  %li
                    %a{:href => "charts_flowchart.html"} Flow Charts
                  %li
                    %a{:href => "charts_google.html"} Google Charts
                  %li
                    %a{:href => "charts_echarts.html"} eCharts
                  %li
                    %a{:href => "charts_morris.html"} Morris Charts
                  %li
                    %a{:href => "javascript:;"} HighCharts
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-cloud-upload
                  Elements
                %ul.dropdown-menu
                  %li
                    %a{:href => "elements_steps.html"} Steps
                  %li
                    %a{:href => "elements_lists.html"} Lists
                  %li
                    %a{:href => "elements_ribbons.html"} Ribbons
                  %li
                    %a{:href => "elements_overlay.html"} Overlays
                  %li
                    %a{:href => "elements_cards.html"} User Cards
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-pointer
                  Maps
                %ul.dropdown-menu
                  %li
                    %a{:href => "maps_google.html"} Google Maps
                  %li
                    %a{:href => "maps_vector.html"} Vector Maps
          %li.dropdown.dropdown-fw.dropdown-fw-disabled
            %a.text-uppercase{:href => "javascript:;"}
              %i.icon-briefcase
              Tables
            %ul.dropdown-menu.dropdown-menu-fw
              %li
                %a{:href => "table_static_basic.html"} Basic Tables
              %li
                %a{:href => "table_static_responsive.html"} Responsive Tables
              %li
                %a{:href => "table_bootstrap.html"} Bootstrap Tables
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"} Datatables
                %ul.dropdown-menu
                  %li
                    %a{:href => "table_datatables_managed.html"} Managed Datatables
                  %li
                    %a{:href => "table_datatables_buttons.html"} Buttons Extension
                  %li
                    %a{:href => "table_datatables_colreorder.html"} Colreorder Extension
                  %li
                    %a{:href => "table_datatables_rowreorder.html"} Rowreorder Extension
                  %li
                    %a{:href => "table_datatables_scroller.html"} Scroller Extension
                  %li
                    %a{:href => "table_datatables_fixedheader.html"} FixedHeader Extension
                  %li
                    %a{:href => "table_datatables_responsive.html"} Responsive Extension
                  %li
                    %a{:href => "table_datatables_editable.html"} Editable Datatables
                  %li
                    %a{:href => "table_datatables_ajax.html"} Ajax Datatables
          %li.dropdown.dropdown-fw.dropdown-fw-disabled
            %a.text-uppercase{:href => "javascript:;"}
              %i.icon-layers
              Pages
            %ul.dropdown-menu.dropdown-menu-fw
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-basket
                  eCommerce
                %ul.dropdown-menu
                  %li
                    %a{:href => "ecommerce_index.html"}
                      %i.icon-home
                      Dashboard
                  %li
                    %a{:href => "ecommerce_orders.html"}
                      %i.icon-basket
                      Orders
                  %li
                    %a{:href => "ecommerce_orders_view.html"}
                      %i.icon-tag
                      Order View
                  %li
                    %a{:href => "ecommerce_products.html"}
                      %i.icon-graph
                      Products
                  %li
                    %a{:href => "ecommerce_products_edit.html"}
                      %i.icon-graph
                      Product Edit
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-docs
                  Apps
                %ul.dropdown-menu
                  %li
                    %a{:href => "app_todo.html"}
                      %i.icon-clock
                      Todo 1
                  %li
                    %a{:href => "app_todo_2.html"}
                      %i.icon-check
                      Todo 2
                  %li
                    %a{:href => "app_inbox.html"}
                      %i.icon-envelope
                      Inbox
                  %li
                    %a{:href => "app_calendar.html"}
                      %i.icon-calendar
                      Calendar
                  %li
                    %a{:href => "app_ticket.html"}
                      %i.icon-notebook
                      Support
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-user
                  User
                %ul.dropdown-menu
                  %li
                    %a{:href => "page_user_profile_1.html"} Profile 1
                  %li
                    %a{:href => "page_user_profile_1_account.html"} Profile 1 Account
                  %li
                    %a{:href => "page_user_profile_1_help.html"} Profile 1 Help
                  %li
                    %a{:href => "page_user_profile_2.html"} Profile 2
                  %li
                    %a{:href => "page_user_login_1.html"} Login Page 1
                  %li
                    %a{:href => "page_user_login_2.html"} Login Page 2
                  %li
                    %a{:href => "page_user_login_3.html"} Login Page 3
                  %li
                    %a{:href => "page_user_login_4.html"} Login Page 4
                  %li
                    %a{:href => "page_user_login_5.html"} Login Page 5
                  %li
                    %a{:href => "page_user_login_6.html"} Login Page 6
                  %li
                    %a{:href => "page_user_lock_1.html"} Lock Screen 1
                  %li
                    %a{:href => "page_user_lock_2.html"} Lock Screen 2
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-social-dribbble
                  General
                %ul.dropdown-menu
                  %li
                    %a{:href => "page_general_about.html"} About
                  %li
                    %a{:href => "page_general_contact.html"} Contact
                  %li
                    %a{:href => "page_general_portfolio_1.html"} Portfolio 1
                  %li
                    %a{:href => "page_general_portfolio_2.html"} Portfolio 2
                  %li
                    %a{:href => "page_general_portfolio_3.html"} Portfolio 3
                  %li
                    %a{:href => "page_general_portfolio_4.html"} Portfolio 4
                  %li
                    %a{:href => "page_general_search.html"} Search 1
                  %li
                    %a{:href => "page_general_search_2.html"} Search 2
                  %li
                    %a{:href => "page_general_search_3.html"} Search 3
                  %li
                    %a{:href => "page_general_search_4.html"} Search 4
                  %li
                    %a{:href => "page_general_search_5.html"} Search 5
                  %li
                    %a{:href => "page_general_pricing.html"} Pricing
                  %li
                    %a{:href => "page_general_faq.html"} FAQ
                  %li
                    %a{:href => "page_general_blog.html"} Blog
                  %li
                    %a{:href => "page_general_blog_post.html"} Blog Post
                  %li
                    %a{:href => "page_general_invoice.html"} Invoice
                  %li
                    %a{:href => "page_general_invoice_2.html"} Invoice 2
              %li.dropdown.more-dropdown-sub
                %a{:href => "javascript:;"}
                  %i.icon-settings
                  System
                %ul.dropdown-menu
                  %li
                    %a{:href => "layout_blank_page.html"} Blank Page
                  %li
                    %a{:href => "page_system_coming_soon.html"} Coming Soon
                  %li
                    %a{:href => "page_system_404_1.html"} 404 Page 1
                  %li
                    %a{:href => "page_system_404_2.html"} 404 Page 2
                  %li
                    %a{:href => "page_system_404_3.html"} 404 Page 3
                  %li
                    %a{:href => "page_system_500_1.html"} 500 Page 1
                  %li
                    %a{:href => "page_system_500_2.html"} 500 Page 2
