%header
  .container-fluid
    .nav-collapse.navbar-collapse.navbar-responsive-collapse.collapse{"aria-expanded" => "false", :style => "height: 0px;"}
      %ul.nav.navbar-nav
        %li.logo
          Accountab
          %span.ly ly
        %li{ class: ('active' if current_page?(root_path)) }
          = link_to root_path do
            %i.ion-home
            Dashboard
        %li{ class: ('active' if current_page?(edit_budget_path)) }
          = link_to edit_budget_path do
            %i.ion-ios-settings
            Budget
        %li{ class: ('active' if current_page?(bank_accounts_path)) }
          = link_to bank_accounts_path do
            %i.ion-ios-calculator-outline
            Bank Accounts
