.account-cycle-graph{ class: account_graph_classes(account_cycle) }
  .spent{ style: "width: #{account_graph_width(account_cycle, :spent)}" }
  .available{ style: "width: #{account_graph_width(account_cycle, :available)}" }
  .on-track{ style: "width: #{account_graph_width(account_cycle, :on_track_spend)}" }
